
.idea/compiler.xml
.idea/jarRepositories.xml
.idea/misc.xml
bonk-testing.iml
.idea/workspace.xml
target/bonk-testing-1.0-SNAPSHOT-shaded.jar
target/classes/dev/lillian/bonk/test/BonkTest.class
target/classes/dev/lillian/bonk/test/command/annotation/Add.class
target/classes/dev/lillian/bonk/test/command/BonkCommands.class
target/classes/dev/lillian/bonk/test/command/middleware/LoggerMiddleware.class
target/classes/dev/lillian/bonk/test/command/modifier/CustomLocationModifier.class
target/classes/dev/lillian/bonk/test/command/provider/CustomLocationProvider.class
target/classes/dev/lillian/bonk/test/model/CustomLocation.class
target/classes/plugin.yml
target/maven-archiver/pom.properties
target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst
target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/createdFiles.lst
target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/inputFiles.lst
target/original-bonk-testing-1.0-SNAPSHOT.jar
